[defaults]
inventory = inventory/inventory.ini
#inventory = inventory/inventory-dev.ini
host_key_checking = False
retry_files_enabled = False
gather_facts = yes
timeout = 30
private_key_file = /Users/truongtpa/Sites/ansible-playbooks/ssk-keys/private-key-vm-grid5000.pem
remote_user = root

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True